In [ ]:
%pip list

In [6]:
import pandas as pd

In [ ]:
pip install tensorflow

In [10]:
df = pd.read_csv('virtual_machine_repository/ml_data_salary.csv')

In [11]:
df.head()

    age  distance  YearsExperience  Salary
0  31.1     77.75              1.1   39343
1  31.3     78.25              1.3   46205
2  31.5     78.75              1.5   37731
3  32.0     80.00              2.0   43525
4  32.2     80.50              2.2   39891